{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>وبلاگ من</title>
    <link rel="stylesheet" href="{% static 'weblog/index.css' %}">
    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet"/>
</head>
<body>

<header>
    <h1>وبلاگ من</h1>
    <nav>
        <a href="#">خانه</a>
        <a href="#">درباره</a>
        <a href="#">تماس</a>
    </nav>
</header>

<div class="container">
    {% for article in articles %}
       {% if article.is_published %}
       	 <div class="post">
            <h2><a href="#">{{ article.title }}</a></h2>
            <div class="meta">{{ article.published_at }}. دسته بندی : {{ article.category.first }}</div>
            <p>{{ article.summary }}</p>
        </div>
       {% endif %}
    {% endfor %}
</div>

<footer>
    &copy; ۱۴۰۴ - تمامی حقوق محفوظ است.
</footer>

</body>
</html>
